
<div class=row>
  <div class=col-sm-12 style="margin-top:20px;">
    <h1>Gold Count: {{gold}}</h1>
  </div>
</div>

<div class=row>
  <hr>
  <div class=col-sm-3><app-place [place]='farm' (update)=update()></app-place></div>
  <div class=col-sm-3><app-place [place]='cave' (update)=update()></app-place></div>
  <div class=col-sm-3><app-place [place]='house' (update)=update()></app-place></div>
  <div class=col-sm-3><app-place [place]='casino' (update)=update()></app-place></div>
</div>

<div class=row>
  <div class=col-sm-12><app-messages></app-messages></div>
</div>